.ia-container {
	width: 42.8125rem;
	margin: 2rem auto;
	overflow: hidden;
	box-shadow: .0623rem .0623rem .25rem rgba(0,0,0,0.08);
	border: 7px solid rgba(255,255,255,0.6);
	width: 90%;
}

.ia-container figure {
    position: absolute;
	top: 0;
	left: 3.123rem; 
	width: 20.9375rem;
    box-shadow: 0 0 0 .0623rem rgba(255,255,255,0.6);
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.ia-container > figure {
    position: relative;
	left: 0 !important;
}

.ia-container img {
	display: block;
	width: 100%;
}

.ia-container input {
	position: absolute;
	top: 0;
	left: 0;
	width: 3.125rem; 
	height: 100%;
	cursor: pointer;
	border: 0;
	padding: 0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
	z-index: 100;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.ia-container input:checked{
	width: .3125rem;
	left: auto;
	right: 0rem;
}
.ia-container input:checked ~ figure {
	-webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
	left: 20.9375rem;
}

.ia-container figcaption {
	width: 100%;
	height: 100%;
	background: rgba(87, 73, 81, 0.1);
	position: absolute;
	top: 0rem;
	-webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.ia-container figcaption span {
	position: absolute;
	top: 50%;
	margin-top: -30px;
	right: 1.25rem;
	left: 1.25rem;
	overflow: hidden;
	text-align: center;
	background: rgba(87, 73, 81, 0.3);
	line-height: 1.25rem;
	font-size: 1.125rem;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
	text-transform: uppercase;
	letter-spacing: .25rem;
	font-weight: 700;
	padding: 1.25rem;
	color: #fff;
	text-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(0,0,0,0.1);
} 

.ia-container input:checked + figcaption,
.ia-container input:checked:hover + figcaption{
	background: rgba(87, 73, 81, 0);
}

.ia-container input:checked + figcaption span {
	-webkit-transition: all 0.4s ease-in-out 0.5s;
    -moz-transition: all 0.4s ease-in-out 0.5s;
    -o-transition: all 0.4s ease-in-out 0.5s;
    -ms-transition: all 0.4s ease-in-out 0.5s;
    transition: all 0.4s ease-in-out 0.5s;
	
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
    filter: alpha(opacity=99);
	opacity: 1;
	
	top: 50%;
}



.ia-container #ia-selector-last:checked + figcaption span {
	-webkit-transition-delay: 0.3s;
	-moz-transition-delay: 0.3s;
	-o-transition-delay: 0.3s;
	-ms-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.ia-container input:hover + figcaption {
	background: rgba(87, 73, 81, 0.03);
}

.ia-container input:checked ~ figure input{
    z-index: 1;
}

figure {
    margin: 0;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
}
//////////////////////////////////////////////////////////////////////////////////////////////////////////////
.accordian{
	font-family: 'Open Sans Condensed','Arial Narrow', serif;
	height: 100vh;
}


#wrapper {
	position: relative;
	padding: 4rem;

}

.accordian-text-header {
	margin: 10% auto 0;
	text-transform: uppercase;
	font-size: 300%;
	letter-spacing: .5rem;
	text-align: center;
	display: table;
	border-bottom: .2rem solid #000;
}
.title-of-accordian-text {
  font-size: 3rem;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: 1px;
  display: block;
  margin: 0;
  cursor: pointer;
}

.blur-for-accordian-text {
  color: rgba(48, 69, 92, 0.8);
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 1px;
  position: relative;
  overflow: hidden;
  max-height: 800px;
  opacity: 1;
  transform: translate(0, 0);
  margin-top: 14px;
  z-index: 2;
  transition:all 500ms ease;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  & li {
		position: relative;
		padding: 0;
		margin: 0;
		padding-bottom: 4px;
		padding-top: 18px;
		border-top: 1px dotted #dce7eb;
		& i{
			position: absolute;
			transform: translate(-6px, 0);
			margin-top: 9px;
			right: 0;
			&:before,&:after {
				content: "";
				position: absolute;
				background-color: black;
				width: 3px;
				height: 16px;
			}
			&:before {
			  transform: translate(2px, 0) rotate(45deg);
			}
			&:after {
			  transform: translate(2px, 0) rotate(-45deg);
			}
		}
		& input[type=checkbox] {
			position: absolute;
			cursor: pointer;
			width: 100%;
			height: 100%;
			z-index: 1;
			opacity: 0;
			&:checked ~ p {
				margin-top: 0;
				max-height: 0;
				opacity: 0;
				transform: translate(0, 50%);
			}
			&:checked ~ i:before {
				margin-top: 9px;
				height: 9px;
				transform: translate(2px, 0) rotate(45deg);
			}
			&:checked ~ i:after {
				margin-top: 9px;
				height: 9px;
				transform: translate(-2px, 0) rotate(-45deg);
			}
		}
	}
}




