@import "_variables.scss";

.food-gallery {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    @include laptop{
        height: 100vh;
    }
}

.food-gallery-gallery {
    width: 100%;
    align-items: center;
    margin: 0 auto;
}

 .food-gallery-container {   
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 95vh;
    @include laptop {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    @include desktop {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

.food-gallery-header {
    font-size: 5rem;
    color: color(primary-light);
    margin: -1rem; 
    font-family: 'Kaushan Script', cursive;
    font-family: 'Bad Script', cursive;
}

.flip-card {
    width: 25rem;
    height: 25rem;
    perspective: 150rem; //what does this do
    margin: 1rem;  
  
    @include tablet {
        width: 32rem;
        height: 32rem;
      }
      @include laptop {
        width: 35rem;
        height: 35rem;
      }
      @include desktop {
        width: 45rem;
        height: 45rem;
      }
}


.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d; 
  backface-visibility: hidden;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front {
    border-radius: 2rem 2rem 2rem 2rem ; 
}
.restaurant-class {
    border-radius: 2rem 2rem 2rem 2rem ; 
    position: relative; 
    width: 25rem;
    height: 25rem;
    @include tablet {
        width: 32rem;
        height: 32rem;
      }
      @include laptop {
        width: 35rem;
        height: 35rem;
      }
      @include desktop {
        width: 45rem;
        height: 45rem;
      }
}

.layer {
    background-color: rgba(color(fade), .3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.outline {
    width: 99%;
    height: 99%;
    outline: .25rem solid color(white) ;
    outline-offset: -2rem;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
}

.name-of-place {
    position: absolute;
    top: 35%;
    left: 0;
    width: 100%;
    font-size: 1.5rem;
    font-style: italic;
    font-family: 'Kaushan Script', cursive;
    font-family: 'Bad Script', cursive;
    backface-visibility: hidden;
}

.name-of-place-border-left {
    clip-path: polygon(10% 0%, 70% 0%, 90% 100%, 30% 100%);
    background-color: rgba(color(white), .5);
    backface-visibility: hidden;
}

.name-of-place-border-right {
    clip-path: polygon(10% 0%, 70% 0%, 90% 100%, 30% 100%);
    background-color: rgba(color(white), .5);
    backface-visibility: hidden;
}

.flip-card-back {
    background-color: rgba(color(primary-blue), .5);
    color: color(primary-light);
    transform: rotateY(180deg);
    border-radius: 2rem 2rem 2rem 2rem ; 
    width: 25rem;
    height: 25rem;
    font-size: 170%;
    backface-visibility: hidden;
    font-family: 'Kaushan Script', cursive;
    font-family: 'Bad Script', cursive;
    outline: .25rem solid color(white) ;
    outline-offset: -2rem;
    
    @include tablet {
        width: 32rem;
        height: 32rem;
      }
      @include laptop {
        width: 35rem;
        height: 35rem;
      }
      @include desktop {
        width: 45rem;
        height: 45rem;
      }
}

a:link {
    color: color(primary-light);
    text-decoration: none;    
} 

a:visited {
    color: color(primary-dark-blue);
} 

.name-of-restaurants {
    margin: -2rem;
}

.name-of-each-restaurants {
    margin: .4rem;
    font-size: 1.3rem;
}

.skyline-image {
    height: 85%;
    transform: translate(0%, -36%);
}