@import "_variables.scss";

html {
  font-size: 55%;
  margin: 0; 
  padding: 0;
}
body {

  background-color: color(black);
  margin: 0;
}

.stars {
  position:absolute;
  display:block;
  z-index:0;
  height: 100%;
  width: 100%;
} 


.header {
  position: relative;
  height: 100vh;
} 

  .box-one {
    background-image: linear-gradient(to bottom right, color(primary-light), color(black));
    background-color: rgba(color(primary-light), 1);
    clip-path: polygon(4% 9%, 96% 17%, 96% 100%, 4% 92%);
    height: 70%;
    @include tablet {
      height: 97%;
    }
    @include laptop {
      clip-path: polygon(0% 0%, 100% 10%, 100% 95%, 0% 85%);     
      background-image: none;
      background-color: transparent;
    }
    @include desktop {
      clip-path: polygon(0% 0%, 100% 10%, 100% 90%, 0% 80%);     
      background-image: none;
      background-color: transparent;
    }
  }

  .box-two {
    background-image: linear-gradient(to bottom right, color(primary-light), color(black));
    background-color: rgba(color(primary-light), 1);
    clip-path: polygon(4% 5%, 96% 19%, 96% 80%, 4% 80%);
    height: 40%;
    transform: translate(0, -15%);
    @include tablet {
      height: 0;
    }
    @include laptop {
      height: 0;
    }
  }

  .header-image {
    width: 100%;
    transform: translate(0%, 10%);
    clip-path: polygon(7% 1%, 93% 9%, 93% 89%, 7% 81%);
    @include tablet {
      clip-path: polygon(7% 1%, 93% 8%, 93% 76%, 7% 69%);
      transform: translate(0%, 8.5%);
    }
    @include laptop {
      transform: translate(0%, -20%);
      clip-path: polygon(0% 21.5%, 100% 27%, 100% 60%, 0% 60%);
    }
    @include desktop {
      clip-path: polygon(0% 21.5%, 100% 26.5%, 100% 60%, 0% 60%);
    }
  }
  
    .text-box {
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    @include tablet {
      transform: translate(-50%, 30%);
    }
    @include laptop {
      transform: translate(-75%, 30%);
    }
    @include desktop {
      transform: translate(-75%, -10%);
    }
  }
  .heading-primary {
    display: flex;
    flex-direction: column;
    color: black;
    text-align: center;

    .heading-primary-main {
      font-size: 4rem;
      text-shadow: .15rem .15rem color(white);
      letter-spacing: .5rem;
      padding: 1rem;
      @include tablet {
        font-size: 6rem;
        letter-spacing: 1.8rem;
      }
      @include laptop {
        font-size: 10rem;
        letter-spacing: 1rem;
      }
    }
    .heading-primary-sub {
      font-size: 1.5rem;
      text-shadow: .15rem .15rem color(black);
      color: color(white);
      @include laptop {
        font-size: 3rem;
      }
    }
  }