@import "_variables.scss";

.drawer-menu {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    right: 0;
    width: 18.75rem;
    height: 100%;
    padding: 7.5rem 0;
    background: black;
    transition-property: all;
    transition-duration: .5s;
    transition-delay: 0s;
    transform-origin: right center;
    transform: perspective(31.25rem) rotateY(-90deg);
    opacity: 0;
}

.drawer-menu .navigation {
    text-align: center;
}

.drawer-menu .navigation a {
    display: block;
    height: 3.125rem;
    line-height: 3.125rem;
    font-size: 2rem;
    color: white;
    transition: all .8s;
    text-decoration: none;
    @include tablet {
        font-size: 2rem;
       }
       @include laptop {
         font-size: 2.3rem;
       }
       @include desktop {
         font-size: 2rem;

     }
}

.check {
    display: none;
}

.menu-btn {
    position: fixed;
    display: block;
    top: 2.5rem;
    right: 2.5rem;
    display: block;
    width: 5rem;
    height: 5rem;
    z-index: 3;
}

.bar {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 5rem;
    height: 1px;
    background: white;
    transition: all .5s;
    transform-origin: left top;
}

.bar.middle {
    top: 2rem;
    opacity: 1;
}

.bar.bottom {
    top: 4rem;
    transform-origin: left bottom;
}

.check:checked ~ .drawer-menu {
    transition-delay: .3s;
    transform: none;
    opacity: 1;
    z-index: 2;
}

.check:checked ~ .menu-btn .bar.top {
    width: 6rem;
    transform: rotate(45deg);
}

.check:checked ~ .menu-btn .bar.middle {
    opacity: 0;
}

.check:checked ~ .menu-btn .bar.bottom {
    width: 6rem;
    top: 4rem;
    transform: rotate(-45deg);
}

ul .navigation {
    border-top: none;
}