@import "_variables.scss";

.secret {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.secret-box-one {
    margin: auto;
    @include tablet {
        display: flex; 
        justify-content: flex-start;
        margin: 1rem;
        margin-top: auto;
    }
    @include laptop {
        display: flex; 
        justify-content: flex-start;
        margin: 2rem;
        margin-top: auto;
    }
    @include desktop {
        display: flex; 
        justify-content: flex-start;
        margin: 1rem;
        margin-top: auto;
    }
}

.secret-box-two {
    margin: auto;
    margin-top: -8rem;
    @include tablet {
        display: flex; 
        justify-content: flex-end;
        margin: 1rem;
        margin-top: auto;
    }
    @include laptop {
        display: flex; 
        justify-content: flex-end;
        margin: 2rem;
        margin-top: auto;
    }
    @include desktop {
        display: flex; 
        justify-content: flex-end;
        margin: 1rem;
        margin-top: auto;
    }
}

.secret-left {
    filter: grayscale(40%);
    height: 25vh;
    width: 40vh;
    z-index: 1;
    transition: transform .2s;
    @include tablet {
        height: 40vh;
        width: 40vh;
        margin-left: 3rem;
    }
    @include laptop {
        height: 40vh;
        width: 60vh;
        margin-left: 12.5%;
    }
    @include desktop {
        height: 45vh;
        width: 70vh;
        margin-left: 8%;
    }
}

.secret-right {
    filter: grayscale(40%);
    height: 25vh;
    width: 40vh;
    z-index: 1;
    transition: transform .2s;
    @include tablet {
        height: 40vh;
        width: 40vh;
        margin-right: 3rem;
    }
    @include laptop {
        height: 40vh;
        width: 60vh;
        margin-right: 12.5%;
    }
    @include desktop {
        height: 45vh;
        width: 70vh;
        margin-right: 8%;
    }
}

.orchid {
    width: 40vh;
    z-index: 0;
    font-size: 2rem;
    color:white;
    text-align: center;
    @include tablet {
        width: 30rem;
        transform: translate(-1%, 0%);
        font-size: 2rem;
        margin: auto;
    }
    @include laptop {
        width: 45rem;
        transform: translate(2%, 0%);
        font-size: 3rem;
        margin: auto;
    }
    @include desktop {
        width: 70rem;
        transform: translate(-10%, 0%);
        font-size: 3rem;
        margin: auto;
    }
}

.governors-island {
    font-size: 2rem;
    color:white;
    text-align: center;
    z-index:0;
    width: 40vh;
    @include tablet {
        width: 30rem;
        transform: translate(1%, 0%);
        font-size: 2rem;
        margin: auto;
    }
    @include laptop {
        width: 45rem; 
        transform: translate(-1%, 0%);
        font-size: 3rem;
        margin: auto;
    }
    @include desktop {
        width: 70rem;
        transform: translate(10%, 0%);
        font-size: 3rem;
        margin: auto;
    }
}


  .secret-right:hover {
    transform: scale(1.1); 
  }

  .secret-left:hover {
    transform: scale(1.1);
}



