@import "_variables.scss";

.secret {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.secret-box-one {
    display: flex; 
    justify-content: flex-start;
}

.secret-box-two {
    display: flex; 
    justify-content: flex-end;
}

.secret-left {
    filter: grayscale(40%);
    margin: 1rem;
    margin-left: 15%;
    @include laptop {
        height: 40vh;
        width: 60vh;
    }
}

.secret-right {
    filter: grayscale(40%);
    margin: 1rem;
    margin-right: 15%;
    @include laptop {
        height: 40vh;
        width: 60vh;
    }
}

.orchid {
    background-color: white;
    height: 20rem;
    width: 50rem;

}