@import "_variables.scss";

.secret {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.secret-box-one {
    display: flex; 
    justify-content: flex-start;
}

.secret-box-two {
    display: flex; 
    justify-content: flex-end;
}

.secret-left {
    filter: grayscale(40%);
    @include laptop {
        height: 40vh;
        width: 60vh;
        margin-left: 12.5%;
    }
    @include desktop {
        height: 40vh;
        width: 60vh;
        margin-left: 10%;
    }
}

.secret-right {
    filter: grayscale(40%);
    z-index: 0;
    @include laptop {
        height: 40vh;
        width: 60vh;
        margin-right: 12.5%;
    }
    @include desktop {
        height: 40vh;
        width: 60vh;
        margin-right: 10%;
    }

}

.orchid {
    background-color: gray;
    margin: auto;
    @include laptop {
        height: 25rem;
        width: 45rem;
        transform: translate(-15%, 0%);

    }
    @include desktop {
        height: 25rem;
        width: 37rem;

    }

}
.governors-island {
    background-color: gray;
    margin: auto;
    z-index:1;

    @include laptop {
        height: 25rem;
        width: 45rem;
        transform: translate(15%, 0%);
    }
    @include desktop {
        height: 25rem;
        width: 37rem;

    }

}
