$colors: (
  primary: rgb(254, 254, 225	),
  primary-light: rgb(35,85,135),
  white: #ffffff,
  primary-dark: #1f2833,
  black: #0b0c10,
  fade: rgba(238, 238, 232, 0.7),
  primary-blue:lightblue,
  primary-light-blue: rgb(96, 124, 151),
  primary-dark-blue:  rgb(9, 45, 80)
);

$tablet: 600px;
$laptop: 900px;
$desktop: 1440px;


@function color($color-name) {
  @return map-get($colors, $color-name);
}

@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}
@mixin laptop {
  @media (min-width: #{$laptop}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

